[flake8]
# Black's Flake8 linter configuration file to compliment Black's code formatting.
# Source: https://github.com/python/black/blob/acafdcb5945cda8d424b2dbd0f9d0d56cf658533/.flake8
ignore = E203, E231, E266, E501, W503
max-line-length = 80
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude = .venv
